h1{
	font-family: Tahoma;
	color: white ;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 2px 2px #000000;
	text-align: center ;
}
h3{
	font-family: Tahoma;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center ;
}
p{
	text-align: center ;

}
